<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#1d4e9e;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
                <li class="nav-brand">
                    <a class="nav-link active" style="color: white;" aria-current="page" routerLink="/app-home">
                    <img src="assets/homelogo.jpg" id="image" width="150" height="50"/></a>
                </li>
  
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                     routerLink="/app-home" style="color: white;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                     routerLink="/app-home" style="color: white;">About Us</a>
                </li>
                <li class="nav-item" *ngIf="buttonSubmit">
                    <a class="nav-link active" aria-current="page"
                     routerLink="/app-home" style="color: white;" (click)="logOut()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>
<body style="background-color: whitesmoke;">
    <div class="text-center">
        <br>
        <h1 style="color: #99eedf; background-color: #008970;">{{insurancePlan.name}}</h1>
        <br>
        <h2>Plan Details:</h2>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>Policy term-minimum</td>
                    <td>{{ policyTermMin}}</td>
                </tr>
                <tr>
                    <td>Policy term-maximum</td>
                    <td>{{ policyTermMax}}</td>
                </tr>
                <tr>
                    <td>Minimum Age</td>
                    <td>{{minAge}}</td>
                </tr>
                <tr>
                    <td>Maximum Age</td>
                    <td>{{maxAge}}</td>
                </tr>
                <tr>
                    <td>Minimum Investment Amount</td>
                    <td>{{minInvestmentAmount}}</td>
                </tr>
                <tr>
                    <td>Maxmimum Investment Amount</td>
                    <td>{{maxInvestmentAmount}}</td>
                </tr>
                <tr>
                    <td>Profit Ratio</td>
                    <td>{{profitRatio}}</td>
                </tr>
            </tbody>
        </table>
        <form>
            <h2>Interest Calculator</h2>
            <table class="table table-border">
                <tbody>
                    <tr>
                        <td scope="col"><strong>No Of Years:</strong></td>
                        <td scope="col"><input type="number" name="years" class="form-control" [(ngModel)]="noOfYears">
                        </td>
                    </tr>
                    <tr>
                        <td scope="col"><strong>Total Investment Amount:</strong></td>
                        <td scope="col"><input type="number" name="amount" class="form-control" [(ngModel)]="amount">
                        </td>
                    </tr>
                    <tr>
                        <td scope="col"><strong>Months:</strong></td>
                        <td scope="col"><select name="months" class="form-control" [(ngModel)]="months">
                                <option value="">Select</option>
                                <option value='1 month'>1 Month</option>
                                <option value='3 month'>3 Month</option>
                                <option value='6 month'>6 Month</option>
                                <option value='1 year'>1 Year</option>
                            </select></td>
                    </tr>
                    <button class="btn btn-success" type="submit" (click)="interestCalculator()">Calculate</button>
                    <br>
                    <br>
                    <tr>
                        <td scope="col"><strong>Installment Amount:</strong></td>
                        <td scope="col"><input type="text" name="installment amount" class="form-control"
                                [(ngModel)]="installAmt" value=installAmt disabled></td>
                    </tr>
                    <tr>
                        <td scope="col"><strong>Interest Amount:</strong></td>
                        <td scope="col"><input type="text" name="interest amount" class="form-control"
                                [(ngModel)]="insterestAmt" value=insterestAmt disabled></td>
                    </tr>
                    <tr>
                        <td scope="col"><strong>Total Amount:</strong></td>
                        <td scope="col"><input type="text" name="total amount" class="form-control"
                                [(ngModel)]="totalAmt" value=totalAmt disabled></td>
                    </tr>
                    <tr>
                        <td *ngIf="buttonSubmit"><a class="btn btn-danger"
                                routerLink="/insurance-account-details" (click)="setData()">Submit</a></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>