<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#1d4e9e;">
  <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-brand">
                  <a class="nav-link active" style="color: white;" aria-current="page" routerLink="app-Home">
                  <img src="assets/homelogo.jpg" id="image" width="150" height="50"/></a>
              </li>

              <li class="nav-item">
                  <a class="nav-link active" aria-current="page"
                   routerLink="/admin-dashboard" style="color: white;">Dashboard</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link active" aria-current="page"
                   routerLink="/app-home" style="color: white;">Logout</a>
              </li>

            
          </ul>
      </div>
  </div>
</nav>
<div>
    <h2 class="text-center">{{title}}</h2>
  </div>
  <div class="container">
    <form (ngSubmit)="onSubmit()">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td scope="col"><strong>Employee Type:</strong></td>
            <td><input type="text" name="emp_type" class="form-control"  value="" 
                [(ngModel)]="emp_type" /></td>
          </tr>
          <tr>
            <td scope="col"><strong>Employee Name:</strong></td>
            <td scope="col"><input type="text" name="emp_name" class="form-control"
                 [(ngModel)]="emp_name"></td>
          </tr>
          <tr>
            <td scope="col"><strong>Login Id:</strong></td>
            <td><input type="text" class="form-control" name="loginId" value="" 
                [(ngModel)]="loginId" /></td>
          </tr>
          <tr>
            <td scope="col"><strong>Password:</strong></td>
            <td><input type="password" class="form-control" name="password" value="" 
                [(ngModel)]="password" /></td>
          </tr>
          <tr>
            <td scope="col"><strong>Confirm Password:</strong></td>
            <td><input type="password" class="form-control" name="confirmPassword" [(ngModel)]="confirmPassword"
                 value="" /></td>
          </tr>
          <tr>
            <td scope="col"><strong>Status:</strong></td>
            <td><select name="status" class="form-control"  [(ngModel)]="status">
                <option value="">Select-</option>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
              </select></td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: center;"><button type="submit" class="btn btn-primary">Submit</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>


