<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#1d4e9e;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-brand">
                    <a class="nav-link active" style="color: white;" aria-current="page" routerLink="app-Home">
                    <img src="assets/homelogo.jpg" id="image" width="150" height="50"/></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                     routerLink="/app-home" style="color: white;">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br><br>
<body>
    <h2 class="text-center">{{title}}</h2>
    <div class="container">
        <form>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Insurance Plan Name</th>
                        <th>Insurance Type</th>
                        <th>Policy Term Min</th>
                        <th>Policy Term Max</th>
                        <th>Minimum Age</th>
                        <th>Maximum Age</th>
                        <th>Sum Assured Min</th>
                        <th>Sum Assured Max</th>
                        <th>Profit Ratio</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let insurancePlan of insurancePlans">
                        <td>{{insurancePlan.name}}</td>
                        <td>{{insurancePlan.insuranceTypeName}}</td>
                        <td>{{insurancePlan.policyTermMin}}</td>
                        <td>{{insurancePlan.policyTermMax}}</td>
                        <td>{{insurancePlan.minAge}}</td>
                        <td>{{insurancePlan.maxAge}}</td>
                        <td>{{insurancePlan.sumAssuredMin}}</td>
                        <td>{{insurancePlan.sumAssuredMax}}</td>
                        <td>{{insurancePlan.profitRatio}}</td>
                        <td *ngIf="insurancePlan.status===true">Active</td>
                        <td *ngIf="insurancePlan.status===false">Inactive</td>
                        <td><a href="edit">Edit/</a><br><a href="delete">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>