<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#1d4e9e;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
                <li class="nav-brand">
                    <a class="nav-link active" style="color: white;" aria-current="page" routerLink="app-Home">
                    <img src="assets/homelogo.jpg" id="image" width="150" height="50"/></a>
                </li>
  
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                     routerLink="/app-home" style="color: white;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                     routerLink="/app-home" style="color: white;">About Us</a>
                </li>
                <li class="nav-item" *ngIf="buttonSubmit">
                    <a class="nav-link active" aria-current="page"
                     routerLink="/app-home" style="color: white;" (click)="logOut()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>
<body style="background-color: whitesmoke;">
    <div class="text-center">
        <h1>LAC-CANCER-INSURANCE-PLAN</h1><br>
        <img src="assets/cancerPlan.jpg"
            class="rounded float-center" alt="...">
        <p>
            Cancer insurance plan is a form of insurance plan that has been designed to help you manage risks of cancer disease to your health. A cancer policy helps mitigate the expenses related to getting good quality cancer treatment, thus providing the insured with required financial support.
            LAC Jeevan Bima offers ease of understanding with standard terms and conditions.
            
        </p>
        <h3>Key Features:</h3>
        <p>
            <li>
                Security for your family with a standard term plan at an affordable cost
            </li>
            <li>
                Convenience of premium payment options**
            </li>
            <li>
                Tax benefits* as per prevailing norms under the Income Tax Act, 1961.
            </li>


            **Once, regularly or for a limited (5/10 years) period
            <br>
            <br>
            <br>
            <li>
                Documents Required:
                AadharCard, Voter-Id,Health-Certificate
            </li>
        </p>
        <br>
        <br>
        <br>
        <br>
        <!-- Default form contact -->
        <h2>Plan Details:</h2>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>Policy term-minimum</td>
                    <td>2 Years</td>
                </tr>
                <tr>
                    <td>Policy term-maximum</td>
                    <td>8 Years</td>
                </tr>
                <tr>
                    <td>Minimum Age</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>Maximum Age</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>Minimum Investment Amount</td>
                    <td>110000</td>
                </tr>
                <tr>
                    <td>Maxmimum Investment Amount</td>
                    <td>150000</td>
                </tr>
                <tr>
                    <td>Profit Ratio</td>
                    <td>6.00%</td>
                </tr>
            </tbody>
        </table>
        <form>
            <h2>Interest Calculator</h2>
            <table class="table table-border">
                <tbody>
                    <tr>
                        <td scope="col"><strong>No Of Years:</strong></td>
                        <td scope="col"><input type="number" name="years" class="form-control" [(ngModel)]="noOfYear"></td>
                    </tr>
                    <tr>
                        <td scope="col"><strong>Total Investment Amount:</strong></td>
                        <td scope="col"><input type="number" name="amount" class="form-control" [(ngModel)]="amount"></td>
                    </tr>
                    <tr>
                        <td scope="col"><strong>Months:</strong></td>
                        <td scope="col"><select name="months" class="form-control" [(ngModel)]="months">
                            <option value="">Select</option>
                            <option value='1 month'>1 Month</option>
                            <option value='3 month'>3 Month</option>
                            <option value='6 month'>6 Month</option>
                            <option value='1 year'>1 Year</option>
                          </select></td>
                    </tr>
                    <button class="btn btn-danger" type="submit" (click)="interestCalculator()">Calculate</button>
                    <br>
                    <br>
                    <tr>
                        <td scope="col"><strong>Installment Amount:</strong></td>
                        <td scope="col"><input type="text" name="installment amount" class="form-control" [(ngModel)]="installAmt" value=installAmt></td>
                    </tr>
                    <tr>
                        <td scope="col"><strong>Interest Amount:</strong></td>
                        <td scope="col"><input type="text" name="interest amount" class="form-control" [(ngModel)]="insterestAmt" value=insterestAmt></td>
                    </tr>
                    <tr>
                        <td scope="col"><strong>Total Amount:</strong></td>
                        <td scope="col"><input type="text" name="total amount" class="form-control" [(ngModel)]="totalAmt" value=totalAmt></td>
                    </tr>
                    <tr>
                        <td *ngIf="buttonSubmit"><a class="btn btn-danger"
                                routerLink="/insurance-account-details">Submit</a></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>