<body style="background-color: #87cefa;">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#1d4e9e;">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-brand" >
                        <a class="nav-link active" style="color: white;" aria-current="page"
                         routerLink="/app-home">
                        <img src="assets/homelogo.jpg" id="image" width="150" height="50"/></a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" 
                        routerLink="#" style="color: white;">Agent Account</a>
                    </li>

                    <li class="nav-item dropdown" ngbDropdown>
                        <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false"
                             ngbDropdownToggle style="color: white;">
                            Account
                        </a>
                        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarScrollingDropdown">
                            <li ngbDropdownItem><a class="dropdown-item" routerLink="/agentProfile">Profile</a></li>
                            <li ngbDropdownItem><a class="dropdown-item" routerLink="#">Change Password</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/marketingAgent" style="color: white;">Marketing</a>
                    </li>

                    <li class="nav-item dropdown" ngbDropdown>
                        <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle style="color: white;">
                            Insurance
                        </a>
                        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarScrollingDropdown">
                            <li ngbDropdownItem><a class="dropdown-item" routerLink="/viewCustomer">View Customers</a></li>
                            <li ngbDropdownItem><a class="dropdown-item" routerLink="/InsuranceAccountForAgent">Insurance Account</a></li>
                            <!-- <li ngbDropdownItem><hr class="dropdown-divider"></li> -->
                            <li ngbDropdownItem><a class="dropdown-item"  routerLink="/viewPolicyPay">View Policy Payment</a></li>
                            <li ngbDropdownItem><a class="dropdown-item" routerLink="/viewPolicyClaim">View Policy Claim</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" ngbDropdown>
                        <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle style="color: white;">
                            Account
                        </a>
                        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarScrollingDropdown">
                            <li ngbDropdownItem><a class="dropdown-item" routerLink="/viewCommission">View Commission</a></li>
                            <li ngbDropdownItem><a class="dropdown-item"
                                routerLink="/viewCommWithdrawal">View Commission Withdrawl</a></li>
                                 <li ngbDropdownItem><a class="dropdown-item" routerLink="#">Withdraw Amount</a></li>
                        </ul>
                    </li>
                 
                    <li class="nav- ">
                        <!-- <button class="btn btn-danger"> -->
                        <a class="nav-link active" (click)="logOut()" style="color: white;">Logout</a>
                        <!-- </button> -->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div  style="text-align: center; ; ">
        <h1 style="margin-top:20px ; color:black;">Welcome {{username}}</h1>
        <!-- <h3 style="color: black;">{{username}}</h3> -->

        <div class="card" style="width: 18rem; margin: 10px; display: inline-block;">
            <a class="card-block stretched-link text-decoration-none" routerLink="/agentProfile">
                <img class="card-img-top" src="assets/agentProfile.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Profile</h5>
                </div>
            </a>
        </div>

        <div class="card" style="width: 18em; margin: 10px; display: inline-block;">
            <a class="card-block stretched-link text-decoration-none" routerLink="/marketingAgent">
                <img class="card-img-top" src="assets/marketing.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Marketing</h5>
                </div>
            </a>
        </div>


        <div class="card" style="width: 18rem; margin: 10px; display: inline-block;">
            <a class="card-block stretched-link text-decoration-none" routerLink="/viewCustomer">
                <img class="card-img-top" src="assets/viewCustomer.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">View Customers</h5>
                </div>
            </a>
        </div>
        <br>
        <div class="card" style="width: 18rem; margin: 10px; display: inline-block;">
            <a class="card-block stretched-link text-decoration-none" routerLink="/InsuranceAccountForAgent">
                <img class="card-img-top" src="assets/insuranceAccount.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Insurance Account</h5>
                </div>
            </a>
        </div>

        <div class="card" style="width: 18rem; margin: 10px; display: inline-block;">
            <a class="card-block stretched-link text-decoration-none" routerLink="/viewPolicyPay">
                <img class="card-img-top" src="assets/policyPayment.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Policy Payment</h5>
                </div>
            </a>
        </div>

        <div class="card" style="width: 18rem; margin: 10px; display: inline-block;">
            <a class="card-block stretched-link text-decoration-none" routerLink="/viewPolicyClaim">
                <img class="card-img-top" src="assets/policyClaim.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Policy Claim</h5>
                </div>
            </a>
        </div>
        <br>
        <div class="card" style="width: 18em; margin: 20px; display: inline-block;">
            <a class="card-block stretched-link text-decoration-none" routerLink="/viewCommission">
                <img class="card-img-top" src="assets/viewCommission.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">View Commission &nbsp;</h5>
                </div>
            </a>
        </div>

        <div class="card" style="width: 18em; margin: 10px; display: inline-block;">
            <a class="card-block stretched-link text-decoration-none" routerLink="/viewCommWithdrawal">
                <img class="card-img-top" src="assets/viewCommWithdrawl.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">View Commission Withdrawl</h5>
                </div>
            </a>
        </div>


        <div class="card" style="width: 18rem; margin: 10px; display: inline-block;">
            <a class="card-block stretched-link text-decoration-none" routerLink="#">
                <img class="card-img-top" src="assets/withdrawlAmount.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Withdrawl Amount</h5>
                </div>
            </a>
        </div>

    </div>
    <br><br><br><br><br>
</body>