<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#1d4e9e;">
  <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-brand">
                  <a class="nav-link active" style="color: white;" aria-current="page" routerLink="/app-home">
                  <img src="assets/homelogo.jpg" id="image" width="150" height="50"/></a>
              </li>

              <li class="nav-item">
                  <a class="nav-link active" aria-current="page"
                   routerLink="/app-home" style="color: white;" (click)="logOut()">Logout</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
<div>
    <h2 class="text-center">{{title}}</h2>
    <p class="text-center">Kindly enter the credentials</p>
  </div>
  <div class="container">
    

    <form [formGroup]="exform">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td scope="col"><strong>Agent Name:</strong></td>
            <td scope="col"><input formControlName="name" type="text" name="name" class="form-control">
            <small *ngIf="exform.get('name').invalid && exform.get('name').touched" class="text-danger">Name is required</small></td>
          </tr>
          <tr>
            <td scope="col"><strong>Password:</strong></td>
            <td><input formControlName="password" type="password" class="form-control" name="password"/>
              <small *ngIf="exform.get('password').invalid && exform.get('password').touched" class="text-danger">password is required</small></td>
          </tr>
          <tr>
            <td scope="col"><strong>Agent Address:</strong></td>
            <td><textarea formControlName="address" class="form-control" name="address"></textarea>
              <small *ngIf="exform.get('address').invalid && exform.get('address').touched" class="text-danger">address is required</small></td>
          </tr>
          <tr>
            <td scope="col"><strong>Email ID:</strong></td>
            <td><input formControlName="email" type="email" class="form-control" name="email">
              <small *ngIf="exform.get('email').invalid && exform.get('email').touched" class="text-danger">email is required</small></td>
          </tr>
      
          <tr>
            <td scope="col"><strong>Qualification:</strong></td>
            <td><input formControlName="qualification" type="text" class="form-control" name="qualification">
              <small *ngIf="exform.get('qualification').invalid && exform.get('qualification').touched" class="text-danger">Qualification is required</small></td>
          </tr>
          <!-- <tr>
            <td scope="col"><strong>Status:</strong></td>
            <td><select formControlName="status" name="status" class="form-control">
                <option value="">Select</option>
                <option value='ACTIVE'>active</option>
                <option value='INACTIVE'>inactive</option>
              </select>
              <small *ngIf="exform.get('status').invalid && exform.get('status').touched" class="text-danger">Status is required</small></td>
          </tr> -->
          <tr>
            <td colspan="2"><button (click)="addAgent()" [disabled]="exform.invalid" type="button" class="btn btn-primary">Submit</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>

