<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#1d4e9e;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-brand">
                    <a class="nav-link active" style="color: white;" aria-current="page" routerLink="/app-home">
                    <img src="assets/homelogo.jpg" id="image" width="150" height="50"/></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                     routerLink="/app-home" style="color: white;" (click)="logOut()">Logout</a>
                </li>

              
            </ul>
        </div>
    </div>
</nav>
<br><br><br>

<body>
    <h2 class="text-center">{{title}}</h2>
    <div class="container">
        <form>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Time</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody *ngFor="let customer of customers">
                    <tr>
                        <td>{{customer.name}}</td>
                        <td>{{customer.dob}}</td>
                        <td>{{customer.id}}</td>
                        <td>{{customer.address}}</td>
                        <td>{{customer.number}}</td>
                        <td>{{customer.nominee}}</td>
                        <td>{{customer.nomineeRelation}}</td>
                        <td>{{customer.status}}</td>
                        <!-- <td [(ngModel)]="customerName"></td>
                        <td [(ngModel)]="DOB"></td>
                        <td [(ngModel)]="LoginId"></td>
                        <td [(ngModel)]="Address"></td>
                        <td [(ngModel)]="mobileNo"></td>
                        <td [(ngModel)]="nominee"></td>
                        <td [(ngModel)]="nomineeRelation"></td>
                        <td [(ngModel)]="status"></td> -->
                        <td><a href="viewCustomerDocument">View Documents</a></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>
