<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#1d4e9e;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-brand">
          <a class="nav-link active" style="color: white;" aria-current="page" routerLink="/app-home">
            <img src="assets/homelogo.jpg" id="image" width="150" height="50" /></a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/app-home" style="color: white;" (click)="logOut()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div>
    <h2 class="text-center">{{title}}</h2>
  </div>
  <div class="container">
    <form>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td scope="col"><strong>Amount:</strong></td>
            <td><input type="text" class="form-control" name="password" value=""  disabled [(ngModel)]="amount"/></td>
          </tr>
          <tr>
            <td scope="col"><strong>Payment Type:</strong></td>
            <td><select name="payment_type" class="form-control" >
                <option value="">Select payment type</option>
                <option value='credit-card'>Credit Card</option>
                <option value='debit-card'>Debit Card</option>
              </select></td>
          </tr>
          <tr>
            <td scope="col"><strong>Card Holder:</strong></td>
            <td><input type="text" class="form-control" name="cnfpassword" value="" /></td>
          </tr>
          <tr>
            <td scope="col"><strong>Card Number:</strong></td>
            <td><input type="email" class="form-control" name="email"/></td>
          </tr>
          <tr>
            <td scope="col"><strong>CVV Number:</strong></td>
            <td><input type="email" class="form-control" name="email"/></td>
          </tr>
          <tr>
            <td scope="col"><strong>Expiry Date:</strong></td>
            <td><input type="date" class="form-control" name="email"/></td>
          </tr>
          <tr>
            <td colspan="2"><div align="center"><a routerLink="/payment-slip" class="btn btn-danger" (click)="pay()">Pay</a></div></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
