<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#1d4e9e;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
                <li class="nav-brand">
                    <a class="nav-link active" style="color: white;" aria-current="page" routerLink="/app-home">
                    <img src="assets/homelogo.jpg" id="image" width="150" height="50"/></a>
                </li>
  
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                     routerLink="/customer-dashboard" style="color: white;">Dashboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                     routerLink="/app-home" style="color: white;" (click)="logOut()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>
  <div class="container" style="background-color:whitesmoke; margin: 20px;">
<ul *ngFor="let insuranceType of insuranceTypes">
    <li>
        <h3>{{insuranceType.name}}</h3>
        <ul *ngFor="let insurancePlan of insurancePlans">
                <li>
                    <a style="cursor: pointer;" routerLink="/insurancePlanCalculator" (click)="setData(insurancePlan)">{{insurancePlan.name}}</a>
                </li>
        </ul>
    </li>
</ul>
<br>
</div>