img {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
}


a:hover {
    color:black;
    background-color: #fbc707;
    
  }

  #image{
    float: left;
    width: 100px;
    height: 50px;
    
}