<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#1d4e9e;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
                <li class="nav-brand">
                    <a class="nav-link active" style="color: white;" aria-current="page" routerLink="/app-home">
                    <img src="assets/homelogo.jpg" id="image" width="150" height="50"/></a>
                </li>
  
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                     routerLink="/customer-dashboard" style="color: white;">Dashboard</a>
                </li>
  
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                     routerLink="/app-home" style="color: white;" (click)="logOut()">Logout</a>
                </li>
  
              
            </ul>
        </div>
    </div>
  </nav>
<body style="background-color: cornsilk;">
<div class="container text-center" style="margin: 10px;">
    <h2 class="text-center">{{title}}</h2>
    <img class="img-fluid" src="assets/customerProfile.png" style="width: 100px;" />
</div>
<div class="container">
    <form>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td scope="col"><strong>Name:</strong></td>
                    <td scope="col"><input type="text" name="custname" class="form-control" value="{{customer.name}}"></td>
                </tr>
                <tr>
                    <td scope="col"><strong>Date of Birth.:</strong></td>
                    <td><input type="text" name="dob" class="form-control" value="{{customer.dob}} " /></td>
                </tr>
                <tr>
                    <td scope="col"><strong>Address:</strong></td>
                    <td><textarea class="form-control" name="address">{{customer.address}}</textarea></td>
                </tr>
                <tr>
                    <td scope="col"><strong>Email ID:</strong></td>
                    <td><input type="text" class="form-control" name="email" value="{{customer.email}}"></td>
                </tr>
                <tr>
                    <td scope="col"><strong>State:</strong></td>
                    <td><input type="text" class="form-control" name="state" value="{{customer.state}}"></td>
                </tr>
                <tr>
                    <td scope="col"><strong>City:</strong></td>
                    <td><input type="text" class="form-control" name="city" value="{{customer.city}}"></td>
                </tr>
                <tr>
                    <td scope="col"><strong>Mobile No:</strong></td>
                    <td><input type="text" class="form-control" name="mobileNo" value="{{customer.number}}" ></td>
                </tr>
                <tr>
                    <td scope="col"><strong>Nominee:</strong></td>
                    <td><input type="text" class="form-control" name="nominee" value="{{customer.nominee}}"></td>
                </tr>
                <tr>
                    <td scope="col"><strong>Nominee Relation:</strong></td>
                    <td><input type="text" class="form-control" name="nomineeRelation" value="{{customer.nomineeRelation}}"></td>
            </tbody>
        </table>
    </form>
</div>