a:hover {
    background-color: #fbc707;
    
  }
  #image{
    float: left;
    width: 100px;
    height: 50px;
    
}

.navbar-toggler {
  background: orange;
  border: none;
  padding: 10px 6px;
  outline: none;
}

