<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#1d4e9e;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-brand">
          <a class="nav-link active" style="color: white;" aria-current="page" routerLink="/app-home">
            <img src="assets/homelogo.jpg" id="image" width="150" height="50" /></a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" 
          routerLink="/app-home" style="color: white;" (click)="logOut()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div>
    <h2 class="text-center">{{title}}</h2>
    <p class="text-center">Confirm before payment..</p>
  </div>
  <div class="container">
    <form>
      <table class="table table-bordered">
        <tbody>

          <tr>
            <td scope="col"><strong>Agent referral id (optional):</strong></td>
            <td><input type="text" name="referral" class="form-control" [(ngModel)]="referral"/></td>
          </tr>

          <tr>
            <td scope="col"><strong>Insurance Plan:</strong></td>
            <td scope="col"><input type="text" name="insurance-type" class="form-control" disabled [(ngModel)]="insurancePlan"/></td>
          </tr>
          <tr>
            <td scope="col"><strong>No of Years:</strong></td>
            <td><input type="text" name="no-Of-Year" class="form-control" disabled [(ngModel)]="noOfYears"/></td>
          </tr>
          <tr>
            <td scope="col"><strong>Profit Ratio: (in %)</strong></td>
            <td><input type="text" class="form-control" name="profite-ratio"  disabled [(ngModel)]="profitRatio"/></td>
          </tr>
          <tr>
            <td scope="col"><strong>Total Investment Amount:</strong></td>
            <td><input type="text" class="form-control" name="total-invest-amt" disabled [(ngModel)]="totalInvestmentAmount"/></td>
          </tr>
          <tr>
            <td scope="col"><strong>Premium Type:</strong></td>
            <td><input type="text" class="form-control" name="premium-type" disabled [(ngModel)]="premiumType"/></td>
          </tr>
          <tr>
            <td scope="col"><strong>Installment Amount:</strong></td>
            <td><input type="text" class="form-control" name="install-Amt" disabled [(ngModel)]="installmentAmount"/></td>
          </tr>
          <tr>
            <td scope="col"><strong>Interest Amount:</strong></td>
            <td><input type="text" class="form-control" name="insterest-Amt" disabled [(ngModel)]="interestAmount"/></td>
          </tr>
          <tr>
            <td scope="col"><strong>Sum Assured:</strong></td>
            <td><input type="text" class="form-control" name="total-Amt" disabled [(ngModel)]="sumAssured"/></td>
          </tr>
          <tr>
            <td scope="col"><strong>Date Created:</strong></td>
            <td><input type="text" class="form-control" name="dateCreated" disabled [(ngModel)]="dateCreated"/></td>
          </tr>
          <tr>
            <td scope="col"><strong>Maturity Date:</strong></td>
            <td><input type="text" class="form-control" name="maturity-date" disabled [(ngModel)]="maturityDate"/></td>
          </tr>
          <tr>
            <td colspan="2"><div align="center"><a routerLink="/policy-payment" class="btn btn-danger" (click)="sendData()">Click Here to Processed</a></div></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
